.scrollbar-none::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }