.semi_circular_progress_bar_wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 1rem 0;
	height: 100%;
	overflow: hidden;
}

.semi_circular_progress_bar_wrapper .semi_circular_progress_bar {
	width: 68%;
	height: auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.semi_circular_progress_bar_wrapper .semi_circular_progress_bar span {
	position: absolute;
	top: 42%;
	left: 50%;
	transform: translate(-50%, -42%);
	font-size: 3rem;
	font-weight: 500;
}

.semi_circular_progress_bar_wrapper .semi_circular_progress_bar svg {
	transform: rotate(-90deg);
}
